
.listElementWrapper{
    border-bottom: 3px solid #F2F2F2;
    margin-bottom: 5px;
}

.listElementWrapper > li{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    
}
.listElementWrapper li div{
    overflow: hidden;
}

.listElementWrapper li img{
    width: 1em;
    height: 1em;
    display: none;
    animation: trashIconMoving 0.5s;
}   

.listElementWrapper li:hover img{
    display: block;
}

.listElementWrapper li:hover{
    background-color: tomato;
    animation: move 0.3s ease-in-out;
}


@keyframes trashIconMoving{
    from{
        opacity: 0;
        transform: translateX(400px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes move {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

